@iconSize: 40px;
* {
    box-sizing: border-box;
}
.lego-global-header-wrap {
    position: left;
    display: inline;
    overflow: auto;
    padding-left:25px;
    padding-right: 25px;
    background-color: white;
    color:black;
}
body {
    background-color: red;
}

li {
    display: inline;
    a img {
        height: @iconSize;
        width: @iconSize;
    }
}
