* {
  box-sizing: border-box;
}
.lego-global-header-wrap {
  background-color: white;
  position: absolute;
  left: 0 ;
  right: 0;
  top: 0px;
}
.global-links {
  position: left;
  display: inline;
  overflow: auto;
  padding-left: 150px;
  color: black;
  margin: 0 auto;
}
.lego-logo a img {
  height: 50px;
  width: 60px;
}
li {
  display: inline;
}
li a img {
  height: 50px;
  width: 60px;
  padding-top: 0px;
}
.searchbar {
  padding-left: 100px;
}
#id img {
  height: 40px;
  width: 110px;
  padding-left: 40px;
  padding-bottom: 5px;
}
.login {
  padding-bottom: 5px;
}
#flag {
  padding-left: 100px;
  padding-bottom: 5px;
}
.lego-global-footer-wrap {
  left: 0;
  background-color: #ececec;
  color: #777472;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 300px;
  padding-left: 100px 20px;
  padding-right: 100px;
  position: absolute;
  left: 0 ;
  right: 0;
  bottom: 0;
}
.lego-global-footer-wrap a {
  text-decoration: none;
  color: #777472;
}
.lego-global-footer-wrap a h5 {
  color: #4b88c1;
  font-size: 14px;
  text-align: center;
}
#Customer,
#About,
#Parents,
#Educators,
#Attractions,
#terms,
#copyright {
  float: left;
  font-size: 12px;
  padding-left: 10px;
}
#terms {
  display: block;
  width: 100%;
}
#copyright {
  display: block;
  width: 100%;
  color: #b2afae;
}
.card {
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 7, 0, 0);
  transition: 0.3s;
  background-color: silver;
  float: left;
  margin: 20px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  margin: 20px;
}
body {
  background-image: url(https://www.lego.com/r/www/r/portals/-/media/images/home/layout/take-overs/christmas/bg_skin-winter_blue.jpg?l.r=-622178962);
}
