* {
  box-sizing: border-box;
}
.lego-global-header-wrap {
  background-color: white;
  margin: 0 auto;
}
.global-links {
  position: left;
  display: inline;
  overflow: auto;
  padding-left: 150px;
  color: black;
  margin: 0 auto;
}
.lego-logo a img {
  height: 50px;
  width: 60px;
}
li {
  display: inline;
}
li a img {
  height: 50px;
  width: 60px;
  padding-top: 0px;
}
.searchbar {
  padding-left: 100px;
}
#id img {
  height: 40px;
  width: 110px;
  padding-left: 40px;
  padding-bottom: 5px;
}
.login {
  padding-bottom: 5px;
}
#flag {
  padding-left: 100px;
  padding-bottom: 5px;
}
.lego-global-footer-wrap {
  left: 0;
  background-color: silver;
  color: gray;
  height: 300px;
}
.lego-global-footer-wrap ul {
  list-style-type: none;
}
.lego-global-footer-wrap li {
  list-style-type: circle;
}
#Customer {
  float: left;
}
#About {
  float: left;
}
#Parents {
  float: left;
}
#Educators {
  float: left;
}
#Attractions {
  float: left;
}
#terms {
  float: left;
  display: block;
  width: 100%;
}
#copyright {
  float: left;
  display: block;
  width: 100%;
}
